.card-cont{
    border: 1px solid rgb(187, 187, 187);
}

.img-cont{
    display: flex;
    justify-content: center;
    background-color: #8DB9DC;
    transition: all 0.8s;
}

.img-cont img {
    width: 100%;
    transition: all 0.8s;
}

.img-cont:hover {
    background-color: red;
}

.img-cont img:hover {
    width: 105%;
}